#ContainerScoreboard {
    position: absolute;
    width: 200px;
    border-color: red;
    border-width: 4px;
    left: 1100px;
    border-style: solid;
}

#ContainerScoreboard{
    
    display: block;
}
#ContainerScoreboard div{
    margin: 7px 10px 7px 10px;
}