/*            
        Aufgabe: (Aufgabe 2  Mau Mau) 
        Name: Daniel Mainberger
        Matrikel: (260566)
        Datum: (10.04.2019) 
        In Zusammenarbeit mit Kübler Marvin, Sanchez Lisa, Culig Bastian, Carlotta Reinders, Mihai Alexandru, Wurz Kathrin.
*/



body {
    background-color: whitesmoke;
}

.KartenRand{
    border: black solid 1px;
    width: 160px;
    height: 224px;
    margin-top: 1px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
    text-align: center;
}

.KartenRücken{
    width: 160px;
    height: 224px;
    margin: 0px;
}

#Stapel {
    position: relative;
    left: 200px;
    bottom: 231px;
}


.Rot{
    color: crimson;
}

.Schwarz{
    color: black;
}

.Symbol{
    height: 50px;
    margin: 25px 25px 0px 25px;
}